.banner__wrapper {
  width: 100%;
  background: #000;
  .banner {
    aspect-ratio: 7 / 3;
    background-image: url('https://blog.sneakerhead.ru/content/images/2022/09/02nba-lebron-1-videoSixteenByNine3000.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 400%;
    background-position-y: 0%;
    background-size: 90%;
    cursor: pointer;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;

    &:hover{
      background-size: 93%;
      background-position-y: 15%;
      background-position-x: 500%;
    }
    &__content {
      height: 100%;
      width: 63%;
      background-image: linear-gradient(
          rgba(0, 0, 33, 0.6),
          rgba(0, 10, 33, 0.7)
        ),
        url('https://wallpapers.com/images/featured/sport-background-x8tru8t7u71xvhyc.jpg');
      background-size: cover;
      border-right: 1vh solid $color1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-content {
      display: flex;
      flex-direction: column;
      gap: 3em;
    }
    &__text {
      width: 40vw;
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: $altFontColor;
    }
    &-text {
      font-size: $H1FontSize;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 6.4px;
    }
    &-line {
      width: 70%;
      height: 10px;
      background: $color1;
      margin: 5px;
      border-radius: 20vh;
    }
    &-button {
      cursor: pointer;
      font-family: $mainFont;
      border-radius: 10px;
      font-size: $H2FontSize;
      color: $altFontColor;
      padding: 2vh 5vh;
      width: 100%;
      background: linear-gradient(270deg, #f90 -25.64%, #ff5c00 54.97%);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
      &:hover{
        transform: scale(1.05);
      }
    }
  }
}